In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame({'DepTime':[1400.0, 1650.0,2157.0,0140.0, 1157.0]})

In [22]:
df

   DepTime
0   1400.0
1   1650.0
2   2157.0
3    140.0
4   1157.0

In [23]:
def convert_military_to_quarter_hour(time):
    if pd.isna(time):
        return np.nan
    
    time_str = str(int(time)).zfill(4)
    hour = int(time_str[:2])
    minutes = int(time_str[2:])
    
    # Convertir minutos a cuartos de hora
    quarter = (minutes // 15) * 0.25
    
    # Combinar hora con cuarto de hora
    return hour + quarter
    # Ejemplos:
    # 14:00 -> 14.0
    # 14:15 -> 14.25
    # 14:30 -> 14.5
    # 14:45 -> 14.75

# Aplicar la funci√≥n
df['HourBlock'] = df['DepTime'].apply(convert_military_to_quarter_hour)

In [24]:
df

   DepTime  HourBlock
0   1400.0      14.00
1   1650.0      16.75
2   2157.0      21.75
3    140.0       1.50
4   1157.0      11.75